# Application
APP_NAME=Tender Status Tracker
APP_ENV=development
DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000

# PostgreSQL
# Format:postgresql+asyncpg://user:password@host:port/db_name
DATABASE_URL=postgresql+asyncpg://tender:tender@localhost:5432/tender

# Redis
REDIS_URL=redis://localhost:6379/0
